body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Roboto, sans serif;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 10px 10px white;
  }
  
  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-weight: 200;
  }
  
  #input {
    padding: 10px;
    width: 5vw;
  }
  
  #errorMessage {
    margin: 10px;
    font-style: italic;
    color: red;
    font-weight: 200;
  }
  
  .btn {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background: blue;
    color: white;
     border: none;
    box-shadow: 0 5px 5px white;
    font-weight: bold;
  }

  #image {
    display: grid;
    width: 50vw;
    height: 50vh;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    object-fit: cover;
    border-radius: 5px;
  }